<div class="todolist">
    <div class="headers">
        <h1 class="title">{{todolist.title | uppercase}}</h1>
        <span class="sub-title">Created At:</span>
    </div>
    <div class="body">
        <form [formGroup]="todoForm" (ngSubmit)="handleSubmit()">
            <div class="form-group">
                <label for="task">New task:</label>
                <input type="text" formControlName="task" placeholder="Add a task...">
            </div>
            <input type="submit" value="Add Todo">
        </form>
        <ul>
           <app-todo *ngFor="let todo of todos" [todo]="todo" [todolistId]="todolist.id"></app-todo>
        </ul>
    </div>
</div>